<!DOCTYPE html>
<html lang="en" style="background-image: url('/static/background/welcome.jpg');
background-repeat: no-repeat;background-size:cover;background-position: center;
height:100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link  rel="stylesheet" href="{% static 'welcome.css' %}">
</head>
{% block page_content %}

<body class="text">
    <center>
        <h2>Welcome to the Package Tracking System</h2>

    <p>your are a.....</p>
    <div class="main-wlcm">
        <div class="ind-wlcm"> <img class="img-icon" src="/static/background/librarian.jpg" alt="librarianimg"> <a href="{% url 'admin:index' %}">Package Manager</a> </div>
        <br>
        <div class="ind-wlcm"> <img class="img-icon" src="/static/background/student.jpg" alt="librarianimg"> <a href="{% url 'accounts:login' %}">User</a> </div>
    </div>
  

    </center>
</body>
{% endblock %}
</html>