{% extends 'base.html' %}
{% block title %}Login{% endblock%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="login-container">
  <div class="login-design">

    <div class="buttons">
      <button class="text-lg">Login</button>
      <button>Sign Up</button>
    </div>

    <div class="login-form">
      <div class="login-welcome">
        <a href="" class=""
        ><img
            src="{% static 'images/logo.png' %}"
            width="80px"
            alt="RENU Logo"
        /></a>
        <p>Welcome</p>
    </div>
    
    <form method= POST>
        {% csrf_token %}
        <div class="input-fields">
          <label for="">Username</label>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              name="username"
              minlength="3"
              required
            />
          </div>
        </div>
        <div class="input-fields">
          <label for="">Password</label>
          <div>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              minlength="3"
              required
            />
          </div>
        </div>
        <!-- <input type="text" name="username" class="form-input" placeholder="Input your Username here"> -->
        <br>
        <!-- <input type="password" name="password" class="form-input" placeholder="Input your Password here"> -->
        <br>
        <input type="submit" value="Login" class="login-btn">

        <div class="register">
          <p>Don't have an account?<a href="{% url 'signup' %}">Register</a> </p>
        </div>
    </form>
    </div>
  </div>
    
</main>
{% endblock %}