* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    background-color: #f4f4f4;
}

nav{
    background: white;
    display: flex;
    right: 0;
    padding: 0 120px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

nav ul.menu {
    list-style: none;
    padding: 0 10px;
    display: flex;
    gap: 30px;
  }

#logo {
    width: 50px;
}

nav ul li a {
    color: white;
  }
  nav ul li a:hover {
    color: white;
  }
  nav p {
    color: white;
  }

.logo-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
  }

  .menu-item a {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-item a:hover {
    background-color: #074e6f8d;
  }
  
  .selected {
    background-color: #074e6f;
  }
  
  /* css for content*/
  #content {
    padding: 0 120px;
  }

.login-container{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*forms*/
form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form p {
    width: 350px;
    padding: 0 10px;
  }
  
  label {
    display: block;
    clear: both;
    color: #333;
    margin-bottom: 4px;
  }
  
  #myForm {
    padding: 0;
    align-items: start;
  }
  


input,
textarea {
  background: transparent;
  border: 1px solid black;
  padding: 6px 10px;
  width: 348px;
  height: 40px;
  border-radius: 5px;
}

.input-fields {
  margin-bottom: 16px;
}


/*Messages*/
ul.messages {
    position: absolute;
    z-index: 1001;
    right: 0;
    margin-top: 20px;
    padding: 0 10px;
    list-style-type: none;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  ul.messages li.success,
  ul.messages li.warning,
  ul.messages li.error,
  ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
    opacity: 0;
    border-radius: 8px;
    transform: translateX(100%);
    animation: slideInFromRight 0.3s ease forwards, fadeOut 0.3s ease 2s forwards;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 8px;
    align-items: center;
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0; /* Start the animation with the messages hidden */
      transform: translateX(
        100%
      ); /* Start the animation with messages moved to the right */
    }
    100% {
      opacity: 1; /* At the end of the animation, show the messages */
      transform: translateX(
        0
      ); /* At the end of the animation, move the messages to the original position */
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1; /* Start the animation with full opacity */
    }
    100% {
      opacity: 0; /* At the end of the animation, fade out and hide the messages */
    }
  }


  ul.messages li.success {
    background-color: #d1e7dd;
    color: #105233;
  }
  
  ul.messages li.error {
    background-color: #f8d7da;
    color: #86242d;
  }
  
  ul.messages li.info {
    background: #faffae;
    color: #696b4e;
  }
  ul.messages li.info a {
    color: #e9828e;
  }
  
  ul.messages li.warning {
    background: #de9404;
  }
  ul.messages li.warning a {
    color: #f49000;
  }
  
  ul.messages li a.choice {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
  }
  
  .toast-icons {
    width: 25px;
  }



.form-input{
    font-size:18px;
    width:70%;
    height: 40px;
    border-radius: 5px;
    background-color: azure;
    margin-bottom: 30px;
}
.content-border{
    background-color: black;
    opacity: 0.8;
    color:white;
}
.form-button{
    width: fit-content;
    height: fit-content;
    border-width: 1px;
    border-radius: 15px;
    font-size: 20px;
    background-color: gray;
}
.login{
    width:50vw;
    height: 50vh;
    background-color: wheat;
}
.registerform{
    background-color: wheat;
    border-radius: 5px;
}
p{
    font-size: 20px;
}
